@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  font-style: normal;
  src: url('/fonts/Roboto-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  font-style: normal;
  src: url('/fonts/Roboto-Black.ttf') format('truetype');
}

/* Estilo para el autocompletado */
#section {
  min-height: 100vh;
}

.MuiTooltip-tooltip {
  display: flex !important;
  gap: 10px;
  border-radius: 12px;
  padding: 10px;
  justify-content: space-between;
  align-items: center !important;
  background-color: rgb(255, 255, 255) !important;
  box-shadow: 0 4px 10px -4px rgb(180, 180, 180);
  flex-wrap: wrap !important;
}

.custom-tooltip>* {
  flex: 1 0 25%;
  /* Esto asegura que haya 4 hijos por fila */
}

.icons {
  max-width: 24px !important;
}